# DATABASE

DB_HOST="Database hsot"
DB_NAME="Database name"
DB_USERNAME="Database username"
DB_PASSWORD="Database password"
DB_CHARSET="Database charset (default is utf8mb4)"

# MAIL
MAIL_HOST="SMTP host"
MAIL_USERNAME="SMTP username"
MAIL_PASSWORD="SMTP password"
MAIL_PORT="SMTP port"
MAIL_SMTP_AUTH=true
MAIL_SMTP_SECURE='ssl'